.flex-container{

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 20px;
    

}

.icons{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.search{
    display: flex;
    justify-content: flex-start;
}