<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed&display=swap" rel="stylesheet">

        <div class="container-fluid">
                <div class="row">
                        <div class="col-md-4 left-side">
                        <div class = "profile">
                                <app-profile></app-profile> <!--My profile component with img and user-info-->
                        </div>
                
                     

                                <div><button myColor class = "btn btn-primary btn-block"> New Message </button></div>
                                <div class="side-bar-options">

                                        <div class="option"><i class="fas fa-sort-down"></i> Inbox(2)</div>
                                        <div class="option"><i class="fas fa-caret-square-right"></i> Drafts</div>
                                        <div class="option"><i class="fas fa-caret-right"></i> Sent</div>
                                        <div class="option"><i class="fas fa-flag"></i> Spam</div>
                                        <div class="option"><i class="fas fa-trash"></i> Trash</div>


                                </div>
                        </div>
                        <div class="col-md-8" >
                                <div><app-topbar></app-topbar></div>  <!--Topbar component with search bar and icons-->
                                <div>
                                        <app-message-list [emails]="emails"></app-message-list>
                                </div>

                        </div>

                </div>
                <div><app-login-page></app-login-page></div> 


</div>

                
