img{
    border-radius: 50%;
    padding: 10px;
    padding-right: 10px;

}
.profile-container{
    display: flex;
    padding-top: 10px;
    padding-bottom: 30px;
}
.user-info{
    display: flex;
    padding-left: 10px;
}